@import "tailwindcss";

@theme {
  --font-display: "Manrope", "Inter", sans-serif;
  --color-primary: #f4a462;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221810;
}

@layer base {
  body {
    @apply font-display bg-background-light text-slate-900 antialiased;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
